<%= render 'shared/page_title', title: "showing all Users" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">logged_in?</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Projects</th>
    </tr>
  </thead>
  <tbody>
<%# linking with rails %>
<% @users.each do |user| %>
    <%if user.manager?%>
      <tr class="table-success">
    <%elsif user.developer?%>
      <tr class="table-primary">
    <%else%>
      <tr class="table-danger">
    <%end%>

      <th scope="row">
      <%if user==current_user%>
        <span class="badge bg-success">Yes</span>
      <%else%>
        <span class="badge bg-danger">No</span>
      <%end%>
      </th>
      <td><%= link_to user.name.capitalize, user_path(user) %></td>
      <td><%=user.role%></td>
      <td><%= pluralize(user.projects.count, "project") if user.projects %></td>
    </tr>
<%end%>
  </tbody>
</table>
