<%= render 'shared/page_title', title: "showing all projects" %>

<%= render 'project', obj: @projects %>
<%# <a href=/projects/new>Create Project</a> %>

 <%# if current user is user.manager then he can create new project %>
<% if current_user.manager? %>
<p align ="center">
<%= link_to "Create Project", new_project_path,class: "btn btn-primary btn-lg btn-xlarge" %>
</p>
<hr/>
<% end %>