<%if user_signed_in?%>
    <%if current_user.manager?%>
      <%= render 'form' %>
      <%else%>
          <h3 align="center">
              Only managers can be create projects
          </h3>
      <%end%>
<%else%>
    <h3 align="center">
        Please login first
    </h3>
<%end%>