
<table class="table">
  <thead>
    <tr>
      <th scope="col">type</th>
      <th scope="col">Name</th>
      <th scope="col">last date</th>
      <th scope="col">linked projects</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
  <% @bugs.each do |bug| %>
    <%if bug.btype=="bug"%>
      <tr class="table-danger">
    <%else%>
      <tr class="table-warning">
    <%end%>

      <th scope="row"><%=bug.btype%></th>
      <td><%= link_to bug.title.capitalize,bug_path(bug) %></td>
      <td><%=bug.updated_at%></td>
      <td><%= pluralize(bug.projects.count, "project") if bug.projects %></td> <%#  remove TODO: will be removed in deployment %>
      <td>
      <%if bug.status == 0%>
        <span class="badge bg-danger">Not started</span>
      <%elsif bug.status == 1%>
        <span class="badge bg-warning">In progress</span>
      <%else%>
        <%if bug.btype=="bug"%>
        <span class="badge bg-success">resolved</span>
        <%else%>
        <span class="badge bg-success">Completed</span>
        <%end%>
      <%end%>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>